body {
    font-family: Arial;
    background: #e6e6e6;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.container {
    width: 360px;
    background: #d1f2eb;
    padding: 20px;
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: auto;
}

form {
    background: #c89f73;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 12px;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
}

.inline {
    display: flex;
    gap: 20px; 
}

.radio {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.button {
    width: 48%;         
    background-color: coral;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #ff5a36;
}